<h4 class="text-center">Liste de dépenses</h4>
<hr>
<div class="row rowDepenses">
    <div class="col-lg-6">
        <div class="alert alert-success sizeAlert">
            Budget: <strong>${{ budget }}</strong>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="sizeAlert" [ngClass]="AppliquerCouleurRestante()">
            Restant: <strong>${{ restant }}</strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between" *ngFor="let depense of listedepenses">
                <strong>{{ depense.nom }}</strong>
                <span class="badge rounded-pill bg-secondary">${{ depense.montant }}</span>
            </li>
        </ul>
    </div>
</div>
