<div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="text-center fontTitle">Saisir Budget</h2>
        <div class="card">
            <div class="card-body">
                <div class="text-center mb-3">
                    <span class="badge bg-danger  textErreur">Le Budget doit être supérieur à zéro</span>
                </div>
                <input type="text" class="form-control form-control-lg" placeholder="Saisir votre budget">
                <button class="btn btn-secondary btn-lg btn-block mt-2">ACCEPTER</button>
            </div>
        </div>
    </div>
</div>
